/**
 * Theme Name: Sou Ciência: Necropolítica
 * Description: Tema filho do Blocksy para o projeto Necropolítica do Sou Ciência integrado ao Tainacan
 * Author: Mateus Wetah
 * Template: blocksy
 * Text Domain: souciencia
 * Version: 0.1.7
 */
.wp-block-group.is-style-souciencia-clickable-card > .wp-block-image img,
.wp-block-group.is-style-souciencia-clickable-card > .wp-block-image img {
	box-shadow: none;
	transition: box-shadow 0.2s ease-in-out;
}
.wp-block-group.is-style-souciencia-clickable-card:hover > .wp-block-image img,
.wp-block-group.is-style-souciencia-clickable-card:focus > .wp-block-image img {
    box-shadow: 0 0 16px 9px var(--theme-palette-color-2);
}
.wp-block-group.is-style-souciencia-clickable-card a,
.wp-block-column.is-style-souciencia-clickable-card a{
	text-decoration: none;
}
.wp-block-group.is-style-souciencia-clickable-card:hover a,
.wp-block-column.is-style-souciencia-clickable-card:hover a,
.wp-block-group.is-style-souciencia-clickable-card:focus a,
.wp-block-column.is-style-souciencia-clickable-card:focus a {
	color: var(--theme-palette-color-2);
}
.wp-block-column.is-style-souciencia-clickable-card:hover,
.wp-block-column.is-style-souciencia-clickable-card:focus {
	background-color:  var(--theme-palette-color-8);
}
.wp-block-column.is-style-souciencia-clickable-card,
.wp-block-group.is-style-souciencia-clickable-card {
	cursor: pointer;
	position: relative;
}
.wp-block-column.is-style-souciencia-clickable-card a::before,
.wp-block-group.is-style-souciencia-clickable-card a::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
}

.hotspots-container .hotspots-interaction {
	margin: 0px;
	align-items: center;
}
.hotspots-container .hotspots-placeholder .hotspot-initial {
	font-weight: 600;
	text-align: center;
}

.hotspots-container .hotspot-default {
	filter: blur(0px);
	transform: filter ease-in-out 0.4s;
}
.hotspots-container .hotspot-default:hover,
.hotspots-container .hotspot-default:focus,
.hotspots-container .hotspot-default.hotspot-active {
	filter: blur(10px);
}
.hotspots-container .hotspot-thumb {
	max-width: 200px;
	margin: 12px auto 24px auto;
	border-radius: 3px;
}

/* Mapa da Necropolítica no mobile */
.wrap_svl {
	min-width: 1024px;
}
.wrap_svl_center_box {
	overflow: auto;
	max-width: 100vw;
}
.wrap_svl_center {
	width: 100% !important;
}

/* Tooltips do Mapa */
#powerTip {
	background: rgba(0,0,0,0.75);
	font-size: 1.35rem;
	padding: 1.5rem;
	line-height: 1.35;
}
#powerTip h1,
#powerTip h2,
#powerTip h3,
#powerTip h4 {
	text-align: center;
	font-size: 1.5rem;
	color: #EBFF00;
}
#powerTip > * {
	color: #EBFF00;
}

/* Breadcrumbs */
.entry-header .ct-breadcrumbs a {
	text-decoration: underline;
}

/* Player de áudio no Chrome */
audio::-webkit-media-controls-panel {
	filter: invert(1);
    background: white;
}

/* Menu Mobile */
.ct-drawer-canvas .ct-panel-actions .ct-panel-heading {
	font-size: 2rem;
}

/* Customizações da lista de itens do Tainacan */
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) {
	padding: 0px;
	--theme-text-colorActive: var(--theme-palette-color-5);
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .search-control {
	margin: 0;
	background-color: var(--theme-palette-color-8);
	padding: 2.75rem 3.75rem 1rem 3.75rem  !important;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .search-control .button.is-white {
	font-weight: 400;
	text-transform: lowercase;
	font-family: var(--theme-button-font-family);
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .search-control .label {
	font-weight: 400;
	text-transform: lowercase;
	font-family: var(--theme-button-font-family);
	color: var(--theme-palette-color-10) !important;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #filters-modal .modal-content {
	padding-left: 3.5rem !important;
}
.theme-items-list:not(.is-fullscreen).is-filters-menu-open .filters-menu {
	border-right: 2px solid var(--theme-palette-color-6);
}
.theme-items-list:not(.is-fullscreen).is-filters-menu-open .filters-menu .filter-item-forms .label {
	font-size: 0.75em;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #advanced-search-container {
	max-width: 100%;
	width: 100%;
	background-color: var(--theme-palette-color-8);
	margin: 0px;
	padding: 0px 1.875rem;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #advanced-search-container button {
	min-height: 48px !important;	
	font-weight: 400;
	text-transform: lowercase;
	font-family: var(--theme-button-font-family);
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #advanced-search-container button[type=submit].is-secondary {
	color: var(--theme-palette-color-8) !important;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #items-list-results .metadata-title {
	font-family: var(--theme-button-font-family);
	padding-left: 0;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #items-list-results .metadata-description {
	font-size: 0.875em !important;
}
.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .table-container {
	padding-left: 3.25rem !important;
	padding-right: 3.25rem !important;
}
body:not(.tainacan-admin-page) .tooltip,
body:not(.tainacan-admin-page) .tainacan-modal,
body:not(.tainacan-admin-page) .tainacan-dialog {
	--tainacan-success: var(--theme-palette-color-1);
	--tainacan-white: var(--theme-palette-color-5);
}
body:not(.tainacan-admin-page) .tainacan-modal .tainacan-dialog.tainacan-form .control-label {
	font-size: 1.2em;
}
body:not(.tainacan-admin-page) .tainacan-modal .tainacan-dialog.tainacan-form .modal-card {
	max-width: 568px;
}
body:not(.tainacan-admin-page) .tainacan-dialog .modal-card .modal-card-body {
	color: var(--theme-palette-color-3);
}
.b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	--tainacan-input-background-color: var(--tainacan-secondary);
}
.exposed-metadata-control {
	display: none;
	visibility: hidden;
}

/* Card view mode custom version */
.entry-content:not(.ct-container) .theme-items-list .tainacan-cards-container .tainacan-card .card-thumbnail,
.entry-content:not(.ct-container) .theme-items-list .tainacan-cards-container .tainacan-card img,
.entry-content:not(.ct-container) .theme-items-list .tainacan-cards-container .tainacan-card canvas {
	width: 100px !important;
	height: 100px !important;
}
.entry-content:not(.ct-container) .theme-items-list .tainacan-cards-container {
	margin: 0 auto;
}

.tainacan-souciencia-grid-container {
	min-height: 50vh;
	margin: 1.5rem 1rem;	
	padding: 0;
	height: auto !important;
	flex-wrap: wrap;
	display: flex;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 460px 460px;
	grid-template-columns: repeat(auto-fill, 460px);
	gap: 2rem;
	justify-content: space-evenly;
	animation-name: appear;
	animation-duration: 0.5s;
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a {
	display: flex;
	gap: 1.25rem;
	padding: 1rem;
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a:hover {
	background-color: var(--theme-palette-color-8);
	text-decoration: none;
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a .metadata-title h3 {
	color: var(--theme-palette-color-3);
	font-size: clamp(1.175rem, 0.956vw + 1.128rem, 1.7rem);
	line-height: clamp(1.313rem, 1.663vw + 1.082rem, 2rem);
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a:hover .metadata-title h3,
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a:focus .metadata-title h3 {
	color: var(--theme-palette-color-2);
	text-decoration: none;
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a .souciencia-grid-item-thumbnail {
	flex-shrink: 0;
}
.tainacan-souciencia-grid-container .tainacan-souciencia-grid-item a .souciencia-grid-item-thumbnail img {
	height: 70px;
	width: 70px;
	background: var(--theme-palette-color-7);
	border-radius: 100%;
}
#tainacanViewModesSection {
	display: none;
	visibility: hidden;
}

.tainacan-modal kbd,
.theme-items-list kbd {
	--tainacan-white: #222;
	--tainacan-gray1: #444;
	--tainacan-gray2: #666;
	--tainacan-gray3: #777;
}
.tainacan-textual-search-input .dropdown-item .checkbox:hover .control-label {
	color: white;
}

@media screen and (max-width: 986px) {
	.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .search-control {
		padding: 2.5rem 1rem 0.5rem 1rem  !important;
	}
	.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) #filters-modal .modal-content {
		padding-left: 1rem !important;
	}
	.entry-content:not(.ct-container) .theme-items-list:not(.is-fullscreen) .table-container {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}

/* ============================================*/
/* === ESTILIZAÇÃO ADICIONAL RICARDO IRENO === */


  .my-justify {
    text-align:justify;
  }

  .my-list li {
	margin-bottom: 1rem;
}

  /* === BANNER DA PÁGINA INICIAL === */
  /* --- CONTAINERS --- */

  .banner-main {
    width: 100%;
    height: 100hv;
    display: flex;
    align-items:center;
  }

  .banner-title-group {
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 600px;
    width: 100%;
    z-index: 4;
  }

  .banner-number-group {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @media (min-width: 800px) {
    .banner-main {
      justify-content: right;
      padding-inline: 1rem;
    }
    .banner-title-group {
      align-items: end;
      justify-content: right;
      margin-right: 3rem;
    }
    .banner-number-group {
      justify-content: right;
    }
  }


  /* --- TEXT ELEMENTS --- */

  .banner-title {
    font-size: clamp(2.1rem, 5vw, 4rem) !important;
    font-family: var(--theme-font-family);
    letter-spacing: 5px;
    line-height: 1.3rem; 
    text-align: center;
  }

  .banner-subtitle {
    font-size: clamp(1.4rem, 5vw, 1.7rem) !important;
    text-align: center;
    margin: 1rem 0;
  }

  .banner-number {
    color: hsla(120, 100%, 75%, .5);
    font-family: var(--theme-font-family);
    /* font-size: clamp(3rem, -4.9701rem + 15.9601vw, 7rem); */
    font-size: clamp(4rem, -15.9252rem + 39.9002vw, 12rem);
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }

  .banner-date {
    border-radius: 8px;
    color: hsla(120, 100%, 75%, .8);
    font-family: var(--theme-font-family);
    font-size: clamp(1.4rem, -0.4286rem + 4.5714vw, 3rem);
    letter-spacing: normal;
    line-height: 1.3rem;
    max-width: 700px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    /* transform: translateY(-40%); */
    padding: 1rem 0 1rem 1rem;
    background-color: hsla(0, 0%, 0%, .5);
  }

  @media (min-width: 800px) {
    .banner-title {
      text-align: right;
    }
    .banner-subtitle {
      text-align: right;
      margin: 0;
    }
    .banner-number {
      text-align: right;
      margin-block: -40px;
    }
    .banner-date {
      text-align: right;
      margin: 0;
    }
  }

  .banner-line {
    border: 2px solid white;
    width: 100%;
  }



  /* === ALTERAÇÕES NO MENU DE FILTROS DO TAINACAN === */


  .ct-menu-link {
      font-size: clamp(1.3rem, 4vw, 2rem) !important;
  }

  .collapse-content .checkbox-label-text {
    white-space: normal !important;
    line-height: 1em !important;
  }
  .collapse-content .control-label {
    justify-content: space-between;
    align-items: center;
  }

  /* --- PARCEIROS MOSTRADOS NO RODAPÉ --- */

  .partners {
    display:flex;
    justify-content: center;
  }

  .partner {
    display:flex;
    flex-direction:column;
    align-items:center;
    opacity: 0.7;
    margin-inline: 1rem;
  }

  .partner img {
    border-radius: 50% !important;
    width: 70px;
  }

  .partner a {
    font-family: var(--theme-font-family);
    font-size: 0.9rem;
    color: white;
  }


  /* --- RODAPÉ --- */


  .my-footer,
  .my-footer-img {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .my-footer-img {
    display: flex
  }

  #my-footer-text {
    max-width: 900px;
    
  }

  .logo-unifesp-footer {
    opacity: 0.8;
  }


/* === MAPA === */

#mapModalContainer {
  transition: all 250ms ease-in-out;
}


.my-map-wrap {
  display: block;
  max-width: 100% !important;
  margin: 0 !important;
  overflow: scroll !important;
  padding: 0  !important;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scrollbar-color: hsl(0, 0%,30%) hsla(0, 0%, 0%, 0.3);
  scrollbar-width: thin;
  unicode-bidi: isolate;
  width: 100vw !important;
  white-space: nowrap;
}

.my-map-img {
  display: block;
  height: auto;
  margin: 0 !important;
	max-width: 1400px;
  min-width: 1400px;
  padding: 0 !important;
  width: 100%;
}



.my-map-pin {
  background-color: hsla(128, 22%, 49%);
  box-shadow: 
  0px 0px 8px 4px hsl(0, 0%, 0%),
  0px 0px 15px 6px hsl(120, 100%, 75%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 50 50'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%234E7954;%7D .st1%7Bfill:%23E9E8E8;%7D %3C/style%3E%3Ccircle class='st0' cx='25' cy='25' r='25'/%3E%3Cpath class='st1' d='M18.7,20.3H29v19.3h2.4v0.8H18.8v-0.8h2.3V21.1h-2.5V20.3z M25,17.4c-1.5,0-2.5-0.4-3.2-1.1s-0.9-1.7-0.9-2.8 c0-1.1,0.3-2,1-2.8c0.7-0.7,1.7-1.1,3.1-1.1s2.5,0.3,3.2,1c0.7,0.7,1.1,1.6,1.1,2.8s-0.4,2.2-1.1,2.9C27.6,17,26.5,17.4,25,17.4z' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  position: absolute;
  transition: all 250ms ease-in-out;
  width: 30px;
  z-index: 10;
}

.my-map-pin:hover {
  box-shadow: 
    0px 0px 10px 0px hsl(120, 100%, 100%),
    0px 0px 20px 8px hsl(120, 100%, 85%);
}

.my-pin-1 {
  top: 55px;
  left: 710px; 
}
.my-pin-2 {
  top: 155px;
  left: 395px; 
}

.my-map-iframe {
  border-radius: 12px
}

/* ================== */

.my-map-overlay {
  background-color: hsla(1, 0%, 0%, .9);
  bottom: 0;
  opacity: 0.7;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 80;
}

.my-map-modal {
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  left: 50%;
  min-height: 400px;
  padding: 0.5em;
  position: absolute;
  overflow:auto;
  top: 70px;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99;
}

@media (min-width: 800px) {
  .my-map-modal {
    max-width: 600px;
    padding: 1em;
  }
}

.my-modal-close {
  background-color: hsl(0, 0%, 30%);
  border-radius: 20px;
  color: #fff;
  padding: 8px 14px;
  margin: auto;
}

#mapIframe {
  opacity: 0;
  transition: all 0.9s ease-in-out;
}


/* === FORM === */


:root{
  --color-form-accent: hsl(120, 100%, 75%);
  --color-form-accent-dark: hsl(120, 100%, 35%);
  --color-form-contrast: #fff;
  --color-form-input: hsl(0, 0%, 35%);
  --color-form-input-light: hsl(0, 0%, 45%);
  --color-form-input-lighter: hsl(0, 0%, 88%);
  --form-font-size: 24px;
	--form-help-font-size: 20px;
}
#tainacan-item-submission-form {
	max-width: 900px;
	margin: auto;
}


#tainacan-item-submission-form label,
#tainacan-item-submission-form .section-label
#tainacan-item-submission-form .collapse-handle {
  font-family: Voltaire, sans-serif;
  font-size: var(--form-font-size) !important;
	/* color: var(--color-form-contrast) !important; */
}

#tainacan-item-submission-form span,
#tainacan-item-submission-form .add-link,
#tainacan-item-submission-form .metadatum-description-help-info {
  font-size: var(--form-help-font-size) !important;
  /* color: var(--color-form-contrast); */
}


#tainacan-item-submission-form span {
  font-family: var(--theme-font-family);
  color: var(--color-form-input-lighter);
}

#tainacan-item-submission-form input[type="text"],
#tainacan-item-submission-form input[type="email"],
#tainacan-item-submission-form input[type="url"],
#tainacan-item-submission-form textarea,
#tainacan-item-submission-form select {
  padding: 10px;
  background-color: var(--color-form-input);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-form-input-lighter);
  font-size: 20px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
}

#tainacan-item-submission-form .tainacan-finder-columns-container {
  background-color: var(--theme-palette-color-7);
  --tainacan-gray1: var(--color-form-input);
  max-height: 90vh;
}
#tainacan-item-submission-form .tainacan-metadatum-component--tainacan-taxonomy .tainacan-form[is-modal=false] {
  padding: 0px !important;
  margin-top: 0;
}

#tainacan-item-submission-form option {
  color: var(--color-form-input-lighter);
}

#tainacan-item-submission-form input[type="radio"] {
    margin-right: 5px;
}

#tainacan-item-submission-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: var(--color-form-input-lighter);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    max-width: 70px;
    margin: 1px auto;
}

#tainacan-item-submission-form input[type="submit"]:hover {
    background-color: var(--color-form-accent);
    color: var(--color-form-contrast);
}

#tainacan-item-submission-form select[multiple] {
    height: auto;
}

#tainacan-item-submission-form textarea {
    resize: vertical;
}

#tainacan-item-submission-form .radio-item,
#tainacan-item-submission-form .radio-fieldset {
  display: flex;
  align-items: center;
}
#tainacan-item-submission-form fieldset {
  border: 1px solid var(--color-form-input);
  border-radius: 6px;
  margin-bottom: 2rem;
}


#tainacan-item-submission-form input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--color-form-input);
  /* Not removed via appearance */
  margin: 8px;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid var(--color-form-input-light);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

#tainacan-item-submission-form input[type="checkbox"]:checked {
  background-color: var(--color-form-accent-dark);
}


#tainacan-item-submission-form input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em hsl(120, 100%, 75%);
  /* Windows High Contrast Mode */
  background-color: var(--color-form-accent);
  /* background-color: CanvasText; */
}

#tainacan-item-submission-form input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#tainacan-item-submission-form input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}




#tainacan-item-submission-form .radio-fieldset {
  max-width: 300px;
}
#tainacan-item-submission-form .radio-item {
  width: 80px;
  margin-right: 2rem;
}
.radio-item label {
  transform: translateY(25%);
}

#tainacan-item-submission-form .tab-content {
  height: fit-content !important;
}
.tainacan-finder-column ul

#tainacan-item-submission-form .tainacan-finder-column ul {
  height: none !important;
  max-height: none !important;
}

#tainacan-item-submission-form .tainacan-finder-column ul[data-v-abb0b772] {
  height: none !important;
  max-height: none !important;
}
